	<h1>商品一覧（全<%= Item.count %>件）</h1>
	<%= form_with url: search_items_path, method: :get, local: true do |search| %>
	  <%= search.text_field :name %>
	  <%= search.submit :search %>
	<% end %>
	<table>
	  <thead>
	    <tr>
	      <th>検索結果</th>
	    </tr>
	  </thead>
	<% if @search != nil %>
	  <tbody>
	    <% @search.each do |item| %>
			<tr>
				<% if item.is_active == true %>

					<%= link_to (attachment_image_tag item, :image, :fill, 150, 100, fallback: "No_image.jpg"), item_path(item) %>

					<%= link_to item.name, item_path(item), class: "text-bk" %>

					<%= link_to item.price, item_path(item), class: "text-bk" %>

				<% end %>

			</tr>
	    <% end %>
	  </tbody>
	<% end %>
	</table>

	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="panel panel-success">
					<div class="panel-heading">
						<p class="text-bk"><b>ジャンル検索</b></p>
					</div>
					<div class="panel-body">
						<% @genres.each do |genre| %>

							<%= link_to genre.name, items_path(genre.id), class: "text-bk" %><br>

						<% end %>
					</div>
				</div>
			</div>

			<div class="col-lg-10">

				<% @items.each do |item| %>

					<div class="item-boxes">
						<div class="item-box">
							<% if item.is_active == true %>


							<%= link_to (attachment_image_tag item, :image, :fill, 150, 100, fallback: "No_image.jpg"), item_path(item) %>

							<%= link_to item.name, item_path(item), class: "text-bk" %>

							<%= link_to item.price, item_path(item), class: "text-bk" %>

							<% end %>


						</div>
					</div>

				<% end %>
			</div>
		</div>
	</div>
